ion-header
{
    --ion-background-color:#89DADA;
}
ion-title
{
    color: black;
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: auto;
}
p
{
    font-size: 20px;
    text-align: justify;
   
}
// #margin
// {
//     margin-bottom: 50px;
// }
#button
{
 background-color: #89DADA;
//  border-radius:10px 10px 10px 10px ;
font-size: 18px;
 height: auto;
 width: auto;

}
