#AboutUs
{
    // position: absolute;
  
    // font-family: Reem Kufi;
    // font-style: normal;
    // font-weight: normal;
    // line-height: normal;
    // font-size: auto;
    
    // color: #000000;
    // background-color: azure;
    
    
    

    
    width: 250px;
    height: 62px;
     left: 25px;
    top: 325px;
}
ion-header
{
    --ion-background-color:#89DADA;
    // position: absolute;
  
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: auto;
    
    color: #000000;

}
ion-tabs
{
    --ion-background-color:#E1B9BB;
}
// ion-label
// {
//     min-width: 50%!important;
//     min-height: 50%!important;
// }