<ion-header text-center>
  <ion-toolbar>
     
    <ion-title>Common Sickness & Treatments <br>
    </ion-title>
    
    <ion-button [routerLink]="['/about']" fill="outline">Go Home</ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content >
    <ion-slides pager="true"  effect="flip">
        <ion-slide>
          <!-- <h1 top>
            </h1> -->
            
            
            <p id="description" >
               <span id="name1">- Upper respiratory infections </span> <br><br>
                One of the most common illnesses veterinarians diagnose in young kittens. 
                Characterized by sneezing, runny eyes, runny nose, lack of appetite, and lethargy, upper respiratory infections are extremely contagious and easily passed from one kitten to another. 
                  Adult cats may be infected as well, particularly if they are stressed or housed in close contact with one another, but the symptoms are generally most severe in kittens.
                  <br><br><br>
                  Many kittens will recover from an upper respiratory infection within a week or two with good nursing care (rest, encouraging them to eat and drink, wiping discharge from their eyes and nose with a warm damp cloth, etc.). But, if your kitten stops eating or her symptoms fail to improve, make an appointment with your veterinarian.
                  <br><br><br>
                  Best recommended medicine by our Doctors: 
                  <br><br><br>
                  <span id="middle"><img src="https://png2.kisspng.com/sh/5c3df07bff41477a1028e0951cd05e49/L0KzQYm3VME5N6R9j5H0aYP2gLBuTgBpaaNyedVudYTsc7LzTflvbKZ4jORELXPyfcH8lPVzNZpoh9D8LX3odLrqif5mNZV3jdk2NXHnR4O8V8E4OGQ4TKU3NUC0R4WBVcYyPWM5SKYEMka4RIaCVr5xdpg=/kisspng-pharmaceutical-industry-computer-icons-medicine-drug-5ad72571703343.5017485615240492654596.png" alt="" id="medicine"></span>
                  <br><br>
                  <span id="name1">Medicine A </span> 
                 
                        
                      
            </p>
            
        </ion-slide>
        <ion-slide>

            <p id="description" >
                <span id="name1">- Ear mites </span> <br><br>
                Also extremely common in kittens, though cats of any age can be infected. These parasites are contagious to other cats and less frequently to dogs. The most common sign of an ear mite infestation is a black/brown discharge in the ears that appears similar to coffee grounds. The kitten’s ears are usually itchy as well, and there may be sores and inflammation around the head and neck if the kitten has been scratching.
                   <br><br><br>
                   Ear mite treatments are available and work if you closely follow the directions, but your veterinarian can run a simple test to confirm that mites (and not yeast or bacteria) are responsible for your kitten’s symptoms and prescribe medications that will eliminate the mites with just one application. To eradicate ear mites from your home, make sure that all pets receive treatment.
                   <br><br><br>
                   Best recommended medicine by our Doctors: 
                   <br><br><br>
                   <span id="middle"><img src="https://pngimage.net/wp-content/uploads/2018/06/medicine-png-logo.png" alt="" id="medicine"></span>
                   <br><br>
                   <span id="name1">Medicine C </span> 
             </p>
          
        </ion-slide>

        <ion-slide>
            <p id="description" >
                <span id="name1">- Intestinal parasites </span> <br><br>
                Common enough in kittens to warrant routine fecal examinations and dewormings. Roundworms and hookworms are the most frequently seen intestinal parasites, and many kittens pick up these worms soon after birth, either through their mother’s milk or through contact with contaminated environments. Other parasites such as tapeworms, Coccidia, and Giardia may also be seen.
                   <br><br><br>
                   To diagnose intestinal worms, your veterinarian will examine a sample of your kitten’s feces under the microscope and then prescribe a deworming medication that will kill the specific type of parasite that your kitten has. Make sure to closely follow the instructions on the medication since multiple doses of dewormer are often necessary.
                   <br><br><br><br>
                    <span id="name1" class="background">**For this case, please bring your pet to the vet for further diagnosis</span>
             </p>
        </ion-slide>

        <ion-slide>

            <p id="description" >
                <span id="name1">- Fleas </span> <br><br>
                Not an uncommon finding in kittens either. Naturally, fleas can infest cats/dogs of all ages, but flea infestations can be particularly troublesome for young kittens. Because of their small size, tiny kittens heavily infested with fleas may become anemic due to blood loss from flea feeding. Fleas can also spread diseases to infested kittens/puppies, including Bartonella and Mycoplasma infections.
                   <br><br><br>
                   Best recommended medicine by our Doctors: 
                   <br><br><br>
                   <span id="middle"><img src="https://png.pngtree.com/element_origin_min_pic/17/03/07/135af2cb6b64397232f2b66738307f7d.jpg" alt="" id="medicine"></span>
                   <br><br>
                   <span id="name1">Medicine B </span> 
                   <br><br><br><br>
                   <span id="name1" class="background">** For serious case, please bring your pet 
                      to the vet for further treatment. </span>
             </p>
          
        </ion-slide>

        <ion-slide>

            <p id="description" >
                <span id="name1">- Diarrhea </span> <br><br>
                Diarrhea can have many causes. In some cases, stress associated with major changes in a kitten’s life contributes to the development of diarrhea. Being separated from mother and littermates, moving to a new home, and meeting new people are all stressful for kittens, though they are a necessary part of kittenhood. In addition, a change in diet can cause diarrhea. When diarrhea is caused by these types of factors, it will generally be short-lived and respond to symptomatic treatment (returning to the previous diet, stress-relief, and probiotic supplements).
                   <br><br><br>
                   Diarrhea can also be a sign of serious illness in kittens/puppies. Intestinal parasites, bacterial and viral infections, immune disorders, and more can all be to blame. Because kittens are not able to withstand the effects of diarrhea very well, it is always best to have your pet evaluated by a veterinarian when the diarrhea is especially severe or persists for more than a day or two.
                   <br><br><br>
                   Best recommended medicine by our Doctors: 
                   <br><br><br>
                   <span id="middle"><img src="https://cdn.gweb.ge/buffer/1001538/pictures/catalog/fcc0c16e1dc19ea7d6bdc8874d48c04a.png"alt="" id="medicine"></span>
                   <br><br>
                   <span id="name1">Medicine D </span> 
                   <br><br><br><br>
                   <span id="name1" class="background">** If the diarrhea is severe or persists for more than a 
                      day or two, please bring your pet to the vet for further
                      diagnosis and treatment. </span>
             </p>
          
        </ion-slide>

      
        
        
      </ion-slides>
      

</ion-content>
