<ion-header>
  <ion-toolbar>
    <ion-title>Common Sickness & Treatments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-slides pager="true" >
        <ion-slide>
          <!-- <h1 top>
            </h1> -->
            <br>
            
            <p id="description" >
               <span id="name1">- Upper respiratory infections </span> <br><br>
                One of the most common illnesses veterinarians diagnose in young kittens. 
                Characterized by sneezing, runny eyes, runny nose, lack of appetite, and lethargy, upper respiratory infections are extremely contagious and easily passed from one kitten to another. 
                  Adult cats may be infected as well, particularly if they are stressed or housed in close contact with one another, but the symptoms are generally most severe in kittens.
                  <br><br><br>
                  Many kittens will recover from an upper respiratory infection within a week or two with good nursing care (rest, encouraging them to eat and drink, wiping discharge from their eyes and nose with a warm damp cloth, etc.). But, if your kitten stops eating or her symptoms fail to improve, make an appointment with your veterinarian.
                  <br><br><br>
                  Best recommended medicine by our Doctors: 
                  <br><br><br>
                  <span id="middle"><img src="https://png2.kisspng.com/sh/5c3df07bff41477a1028e0951cd05e49/L0KzQYm3VME5N6R9j5H0aYP2gLBuTgBpaaNyedVudYTsc7LzTflvbKZ4jORELXPyfcH8lPVzNZpoh9D8LX3odLrqif5mNZV3jdk2NXHnR4O8V8E4OGQ4TKU3NUC0R4WBVcYyPWM5SKYEMka4RIaCVr5xdpg=/kisspng-pharmaceutical-industry-computer-icons-medicine-drug-5ad72571703343.5017485615240492654596.png" alt="" id="medicine"></span>
            </p>
            
        </ion-slide>
        <ion-slide>
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
        </ion-slide>
      </ion-slides>
  

</ion-content>
