div{
    display: flex;
}
ion-item
{
    width: auto ;
    height:auto;
}


.sub
{
font-size: 14px;
}
.text
{
    font-size: 10px;
    color: gray;
}
ion-label
{
    font-size:18px;
    font-family: 'Reem Kufi';
}
ion-title
{
    color: black;
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    
}
ion-header
{
    --ion-background-color:#89DADA;
}