<ion-header text-center>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button ></ion-back-button>
        </ion-buttons>
    <ion-title>Online Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
            <ion-list>
                <ion-list-header>
                 <ion-label>Recent Chat</ion-label> 
                </ion-list-header>
                
                  
                  <ion-item >
                      
                      <ion-avatar slot="start">
                          <img src="../assets/MWC images/dr.eli.png"  alt="">
                      </ion-avatar>
                          <p>Dr.Elizabeth
                            <br><span class="sub"> Grooming</span>
                            <br><span class="text"> Remember to do a daily routine of grooming.</span>
                          </p>

                        </ion-item>
                                                        
                             <ion-item >
                                 
                                 <ion-avatar slot="start">
                                     <img src="../assets/MWC images/dr.tina.png"  alt="">
                                 </ion-avatar>
                                     <p>Dr.Elizabeth
                                       <br><span class="sub"> Vaccination</span>
                                       <br><span class="text"> Remember to vaccinate your pet.</span>
                                     </p>
           
                                   </ion-item>
                
                
               
              </ion-list>
            
        
        
      

</ion-content>
