ion-content
{
    --ion-background-color:#D18E8E;
}


// .dot {
//     position: fixed;
//     width: 245px;
//     height: 237px;
//     left: 25px;
//     top: 107px;
    
//     background: #C4C4C4;
//     border: 1px solid #75DFDF;
//     box-sizing: border-box;

//     -webkit-border-radius: 50%;
//     border-radius: 50%;
//   }
//   #paw4
//   {
//     position: static;
//     width: 208px;
//     height: 198px;
//     // left: 50px;
//     margin-left: 0 auto;
//     top: 124px;
//   }
    #paw6
    {
        background-color: #C4C4C4;
        border-radius: 50%;
    }
  #FureverPawsitive
  {
    position: absolute;
  
    font-family: Reem Kufi;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: auto;
    
    color: #000000;
    


    width: 250px;
    height: 62px;
     left: 25px;
    top: 325px;

    // background: #78ADAD;
    // border: 1px solid #75DFDF;
    // box-sizing: border-box;
  }
 