ion-content
{
    --ion-background-color:#D18E8E;
    animation: colors ;
    animation-iteration-count: infinite;
     animation-duration: 10s;
     animation-direction: alternate;
     animation-timing-function: ease;

  //    -webkit-animation: colors 1s infinite alternate;
	// -moz-animation: colors 1s infinite alternate;
	// -ms-animation: colors 1s infinite alternate;
	// -o-animation: colors 1s infinite alternate;
    // transition: --ion-background-color 0.5s ease;
    // animation-play-state: running;
    // transition-timing-function: 5s;
   
}
@keyframes colors
{
  // --ion-background-color:#D18E8E;
  0% {--ion-background-color:#CEC8E4}
  25% {--ion-background-color: #FFDEE5}
  50% {--ion-background-color:#E2B1CD}
  75% {--ion-background-color:#FDCFB3}
  100% {--ion-background-color:#D18E8E}
  
  
}
#paw6
{
animation: heartbeat .5s infinite alternate;
}
@keyframes heartbeat
{
  to {transform: scale(1.05);}
}

// .dot {
//     position: fixed;
//     width: 245px;
//     height: 237px;
//     left: 25px;
//     top: 107px;
    
//     background: #C4C4C4;
//     border: 1px solid #75DFDF;
//     box-sizing: border-box;

//     -webkit-border-radius: 50%;
//     border-radius: 50%;
//   }
//   #paw4
//   {
//     position: static;
//     width: 208px;
//     height: 198px;
//     // left: 50px;
//     margin-left: 0 auto;
//     top: 124px;
//   }
    #paw6
    {
        background-color: #C4C4C4;
        border-radius: 50%;
    }
  #FureverPawsitive
  {
    position: absolute;
  
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: auto;
    
    color: #000000;
    background-color: azure;
    
    /* arabic */
@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'), url(https://fonts.gstatic.com/s/reemkufi/v6/2sDcZGJLip7W2J7v7wQzbWW5O7w.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Reem Kufi';
  font-style: normal;
  font-weight: 400;
  src: local('Reem Kufi Regular'), local('ReemKufi-Regular'), url(https://fonts.gstatic.com/s/reemkufi/v6/2sDcZGJLip7W2J7v7wQzaGW5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
    

    
    width: 250px;
    height: 62px;
     left: 25px;
    top: 325px;

    // background: #78ADAD;
    // border: 1px solid #75DFDF;
    // box-sizing: border-box;
  }
 